div {
    width: 400px;
    background-color: #eee;
    border-left-width: 5px;
    border-left-style: solid;
    padding: 10px;
    margin: 20px;
    outline: 10px solid #eee;
  }
  
  .note1{
    border-left-color: #e91e63;
  }
  
  .note2{
    visibility: hidden;
  }
  
  .note3{
    border-left-color: #009688;
  }