.one{
    text-transform: uppercase;
}

.two{
    text-transform: capitalize;
}

.three{
    text-transform: lowercase;
}

.one,
.two,
.three{
    font-size: 70px;
    text-align: center;
}