div{
    padding: 20px;
    margin: 20px;
    font-size: 20px;
    width: 400px;
    background-color: #eee;
    
  }
  
  .three{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }